Create API Gateway service using Spring Cloud Gateway and WebFlux
Add security filter logic to check JWT token on all endpoints except Login and Register
Customize user registration flow: save user credentials into Authentication Service and save user data into User Service(provide rollback methods in case failed transaction in Authentication Service)
Create Docker file for the service
Create Docker Compose with all services, all DBs and Redis
AuthService - Orchestrates registration:
1. Call UserService
2. Create credentials
3. Generate tokens
UserService creates user data

Endpoint visibility:
Global policy:
    Public endpoints (no JWT required): login, register
    All other endpoints: only authenticated users with role USER or ADMIN

AuthService:
    register - for all (public)
    login - for all (public)
    validate - USER or ADMIN
    refresh - USER or ADMIN
    statusUpdate - only ADMIN
UserService:
    createUser - only AuthService
    findUser - the user himself or ADMIN
    findUserByEmail - only OrderService
    findUsersByEmails - only OrderService
    findUsers - only ADMIN
    updateUser - the user himself or ADMIN
    updateUserStatus - only ADMIN
    deleteUser - the user himself or ADMIN
    addCard - the user himself or ADMIN
    findUserCards - the user himself or ADMIN
    findCardById - card owner or ADMIN
    findCards - card owner or ADMIN
    updateCard - card owner or ADMIN
    updateCardStatus - only ADMIN
    deleteCard - card owner or ADMIN
OrderService:
    createOrder - USER or ADMIN
    getOrderById - USER or ADMIN
    getOrders - USER or ADMIN
    updateOrderById - only ADMIN
    deleteOrderById - only ADMIN
